@model BE.AppUser
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Index</h1>

<div>نام شما: @Model.FirstName</div>
<div>نام خانوادگی: @Model.LastName</div>

