<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--
      - primary meta tags
    -->
    <title>Grilli - غذای شگفت انگیز و خوشمزه</title>
    <meta name="title" content="Grilli - غذای شگفت انگیز و خوشمزه">
    <meta name="description" content="This is a Restaurant html template made by codewithsadee">

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/favicon.svg" type="image/svg+xml">
  
    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--
      - custom css link
    -->
    <link href="~/assets/css/Homee.css" rel="stylesheet" />
    <!--
      - preload images
    -->
    <link rel="preload" as="image" href="~/assets/images/hero-slider-1.jpg">
    <link rel="preload" as="image" href="~/assets/images/hero-slider-2.jpg">
    <link rel="preload" as="image" href="~/assets/images/hero-slider-3.jpg">

     <link href="~/css/persian-datepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/fontawesome.pro.6.5.2/fontawesome.pro.6.5.2/css/all.css">
    @await RenderSectionAsync("preHome", required: false)
</head>



<body id="top">

    <!--
      - #PRELOADER
    -->

    <div class="preload" data-preaload>
        <div class="circle"></div>
        <p class="text">Grilli</p>
    </div>

    <!--
      - #TOP BAR
    -->

    <div class="topbar">
        <div class="container">

            <address class="topbar-item">
                <div class="icon">
                    <ion-icon name="location-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">
                   همدان  ، خیابان صدف ، پلاک 60
                </span>
            </address>

            <div class="separator"></div>

            <div class="topbar-item item-2">
                <div class="icon">
                    <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">هر روز از ساعت :8:00 صبح  تا 10:00 شب</span>
            </div>

            <a href="tel:+989108117122" class="topbar-item link">
                <div class="icon">
                    <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">09108117122</span>
            </a>

            <div class="separator"></div>

            <a href="karizmakianfanavari@gmail.com" class="topbar-item link">
                <div class="icon">
                    <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
                </div>

                <span class="span">karizmakianfanavari@gmail.com</span>
            </a>

        </div>
    </div>


    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="#" class="logo">
                <img src="~/assets/images/logo.svg" width="160" height="50" alt="Grilli - Home">
            </a>   
           
            <partial class="partial1" name="_LoginPartial" />
            <div class="shake">
                <a href="#" class="btn btn-primary show-modal">
                    <span class="text text-1 responsive-text ">(@ViewBag.OrderCount)تکمیل خرید <i class="fa-duotone fa-solid fa-burger-soda"></i></span>
                    <span class="text text-2 responsive-text  " aria-hidden="true">(@ViewBag.OrderCount)تکمیل خرید <i class="fa-duotone fa-solid fa-burger-soda"></i></span>
                </a>
            </div> 
            <nav class="navbar" data-navbar>

                <button class="close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
             
                <a href="#" class="logo">
                    <img src="~/assets/images/logo.svg" width="160" height="50" alt="Grilli - Home">
                </a>
           
                <partial class="partial1" name="_LoginPartial" />
                
               
                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="#home" class="navbar-link hover-underline active">
                            <div class="separator"></div>

                            <span class="span">صفحه ی اصلی</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#menu" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">منو ها</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#about" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">درباره ی ما</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">سرآشپزهای ما</span>
                        </a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="navbar-link hover-underline">
                            <div class="separator"></div>

                            <span class="span">مشتریان</span>
                        </a>
                    </li>

                </ul>

                <div class="text-center">
                    <p class="headline-1 navbar-title">ما را ملاقات کنید</p>

                    <address class="body-4">
                    
                        همدان  ، خیابان صدف ، پلاک 60
                    </address>

                    <p class="body-4 navbar-text">هر روز از ساعت :8:00 صبح  تا 10:00 شب</p>

                    <a href="karizmakianfanavari@gmail.com" class="body-4 sidebar-link">karizmakianfanavari@gmail.com</a>

                    <div class="separator"></div>

                    <p class="contact-label">درخواست رزرو</p>

                    <a href="tel:+989108117122" class="body-1 contact-number hover-underline">
                        09108117122
                    </a>
                </div>

            </nav>

            <a href="#" class="btn btn-secondary">
                <span class="text text-1">انتخاب میز</span>
              
                <span class="text text-2" aria-hidden="true">انتخاب میز</span>
            </a>
           
            <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>
            
            <div class="overlay" data-nav-toggler data-overlay></div>
            
        </div>
       
    </header>


 
        <main role="main" >
            @RenderBody()
        </main>


    <!--
      - #FOOTER
    -->
    <footer class="footer section has-bg-image text-center" style="background-image: url('~/assets/images/footer-bg.jpg')">
        <div class="container">

            <div class="footer-top grid-list">

                <div class="footer-brand has-before has-after">

                    <a href="#" class="logo">
                        <img src="~/assets/images/logo.svg" width="160" height="50" loading="lazy" alt="grilli home">
                    </a>

                    <address class="body-4">
                        همدان  ، خیابان صدف ، پلاک 60
                    </address>

                    <a href="mailto:booking@grilli.com" class="body-4 contact-link">booking@grilli.com</a>

                    <a href="tel:+989108117122" class="body-4 contact-link">رزرو میز: 09108117122  </a>

                    <p class="body-4">
                        هر روز از ساعت :8:00 صبح  تا 10:00 شب
                    </p>

                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>

                    <p class="title-1">دریافت اخبار و پیشنهادات</p>

                    <p class="label-1">
                        با ثبتنام در سایت <span class="span">25% تخفیف</span>  برای اولین سفارش دریافت کنید.
                    </p>
                
                    <div class="icon-wrapper" style="height:50px; justify-content:center;">

                        <partial class="partial1" name="_LoginPartial" />
                    </div>

                </div>

                <ul class="footer-list">

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">صفحه ی اصلی</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">منو غذا</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">درباره ی ما</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">سر آشپزان</a>
                    </li>

                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">مشتریان</a>
                    </li>

                </ul>

                <ul class="footer-list">
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">اینستاگرام ما</a>
                    </li>
                    <li>
                        <a href="#" class="label-2 footer-link hover-underline">آدرس در Google Map</a>
                    </li>

                </ul>

            </div>

            <div class="footer-bottom">
                <p class="copyright">
                    &copy; 2024 Grilli. All Rights Reserved | Crafted by <a href="https://github.com/salehfalahi
" target="_blank" class="link">
                        salehfalahi
                    </a>
                </p>
            </div>

        </div>
    </footer>





    <!--
      - #BACK TO TOP
    -->

    <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
        <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
    </a>





    <!--
      - custom js link
    -->
  
    <script src="~/assets/js/script.js"></script>
    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="~/fontawesome.pro.6.5.2/fontawesome.pro.6.5.2/js/all.js"></script>

@*     <script src="~/lib/jquery/dist/jquery.min.js"></script> *@

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links
            $("a").on("click", function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $("html, body").animate(
                        {
                            scrollTop: $(hash).offset().top,
                        },
                        800,
                        function () {
                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        }
                    );
                } // End if
            });
        });
    </script>
    <script src="~/js/unpkg.comscrollreveal.js"></script>

    <script>
        //effect///
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });
        //title h2//
        // ScrollReveal().reveal('    ', { delay: 300, origin: 'left' });
        // ScrollReveal().reveal(' ', { delay: 300, origin: 'rihgt' });

        // ScrollReveal().reveal('    ', { delay: 300, origin: 'left' });
        // ScrollReveal().reveal(' ', { delay: 300, origin: 'rihgt' });
        //sec,img//
        ScrollReveal().reveal('.col-md-6  ', { delay: 500, origin: 'bottom' });
        // ScrollReveal().reveal(' ', { delay: 500, origin: 'right' });
        ScrollReveal().reveal('.showFood', { delay: 200, origin: 'bottom', interval: 200 });
        // ScrollReveal().reveal(' ', { delay: 300, origin: 'top' });
        // ScrollReveal().reveal('', { delay: 300, origin: 'left', interval: 200 });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--پارشیال اسکریپت-->

    <!--دکمه ثبت نام-->
    <script>
        $(document).ready(function () {
            $('.theme-popup__button').click(function () {
                $('.theme-popup__list-container').toggle();
            });

            // بستن دراپ‌داون در صورت کلیک خارج از آن
            $(document).on('click', function (event) {
                if (!$(event.target).closest('.theme-popup').length) {
                    $('.theme-popup__list-container').hide();
                }
            });
        });</script>


    <script>
        // برای انتخاب ثبتنام و ورود
        function handleSelectChange(event) {
            const selectedValue = event.target.value;
            if (selectedValue) {
                window.location.href = selectedValue;
            }
        }
    </script>
    <!--تقویم-->
    <script src="~/js/persian-date.min.js"></script>
 @*    <script src="~/js/sitee.js"></script> *@
    <script src="~/js/persian-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            const datepickerDOM = $("#persianDatapicker");
            const dateObject = datepickerDOM.persianDatepicker({
                "inline": false,
                "format": "YYYY/MM/DD",
                "viewMode": "day",
                "initialValue": true,
                "minDate": false,
                "maxDate": false,
                "autoClose": false,
                "position": "auto",
                "altFormat": "YYYY/MM/DD",
                "altField": "#altfieldExample",
                "onlyTimePicker": false,
                "onlySelectOnDate": true, 
                "calendarType": "persian",
                "inputDelay": 800,
                "observer": false,
                "calendar": {
                    "persian": {
                        "locale": "fa",
                        "showHint": true,
                        "leapYearMode": "algorithmic"
                    },
                    "gregorian": {
                        "locale": "en",
                        "showHint": true
                    }
                },
                "navigator": {
                    "enabled": true,
                    "scroll": {
                        "enabled": true
                    },
                    "text": {
                        "btnNextText": "<",
                        "btnPrevText": ">"
                    }
                },
                "toolbox": {
                    "enabled": true,
                    "calendarSwitch": {
                        "enabled": true,
                        "format": "MMMM"
                    },
                    "todayButton": {
                        "enabled": true,
                        "text": {
                            "fa": "امروز",
                            "en": "Today"
                        }
                    },
                    "submitButton": {
                        "enabled": true,
                        "text": {
                            "fa": "تایید",
                            "en": "Submit"
                        }
                    },
                    "text": {
                        "btnToday": "امروز"
                    }
                },
                "dayPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY MMMM"
                },
                "monthPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY"
                },
                "yearPicker": {
                    "enabled": true,
                    "titleFormat": "YYYY"
                },
                "responsive": true,
                "onSelect": function () {
                    alert(`تاریخ انتخاب شده : ${date.year}/${date.month}/${date.date}`);
                }
            });

            const date = dateObject.getState().view;
        });
    </script>

    <script>
        // modal
        function openLightBox() {
            var modal = $('.modal');
            $('.show-modal').on('click', function () {
                modal.fadeIn();
            });

            $('.close-modal').on('click', function () {
                modal.fadeOut();
            });


        }
        openLightBox();









        var card_list_par = document.querySelector('.content__container'),
            card_list = document.querySelector('.card__wrapper'),
            loader = document.querySelector('.loader-fill'),
            printer = document.querySelector('.printer__wrapper'),
            countdiff = 0,
            progressBar = 0,
            maxDragDis = 150,
            minDragDis = 80,
            printerPos = -100,
            resetInterval = 0.3,
            cursor = {
                state: 'up',
                prevY: 0
            };

        attachEvent(card_list_par);

        function attachEvent(el) {

            // for website
            el.addEventListener('mousedown', function (e) { mouseDown(e) });
            el.addEventListener('mousemove', function (e) { mouseMove(e) });
            el.addEventListener('mouseup', function (e) { mouseUp(e) });
            el.addEventListener('mouseout', function (e) { mouseOut(e) });

            // for mobile site
            el.addEventListener('touchstart', function (e) { mouseDown(e) });
            el.addEventListener('touchmove', function (e) { mouseMove(e) });
            el.addEventListener('touchend', function (e) { mouseUp(e) });

        }

        function dragToRefreshStatus(el) {
            // console.log(parseInt(el.scrollTop));
            return (parseInt(el.scrollTop) === 0 ? true : false);
        }

        function mouseDown(e) {
            cursor.state = 'down';

            if (dragToRefreshStatus(card_list_par)) {
                card_list.style.cursor = "move";
                cursor.prevY = e.pageY;
            }
        }

        function mouseUp(e) {

            if (cursor.state === 'up') return false;
            cursor.state = 'up';
            card_list.style.cursor = "";

            if (countdiff < minDragDis) {
                countdiff = 0;
                card_list_par.classList.add('resetDrag');

                setTimeout(function () {
                    card_list_par.classList.remove('resetDrag');
                    card_list.style.transform = '';
                    loader.style.transform = '';
                    printer.style.transform = '';

                }, resetInterval * 1000);

            } else if (countdiff >= minDragDis) {
                countdiff = maxDragDis;
            }
        }

        function mouseMove(e) {

            if (cursor.state === 'up') {
                return false;

            } else if (cursor.state === 'down') {

                if (dragToRefreshStatus(card_list_par)) {
                    // e.preventDefault();
                    let posNowY = e.pageY;
                    countdiff = (posNowY - cursor.prevY);

                    if (countdiff < 0) {
                        countdiff = 0;
                    } else if (countdiff > maxDragDis) {
                        countdiff = maxDragDis;
                    }

                    progressBar = countdiff / maxDragDis;
                    let movePrinter = Math.abs(printerPos * progressBar);

                    card_list.style.transform = 'translate3d(0,' + countdiff + 'px,0)';
                    loader.style.transform = 'scaleX(' + Math.sqrt(progressBar) + ')';
                    printer.style.transform = 'translate3d(0,' + movePrinter + 'px,0)';

                }
            }
        }

        function mouseOut(e) {

            if (cursor.state === 'up') return false;
            cursor.state = 'up';
            card_list.style.cursor = "";

            if (countdiff < maxDragDis) {
                countdiff = 0;
                card_list_par.classList.add('resetDrag');

                setTimeout(function () {
                    card_list_par.classList.remove('resetDrag');
                    card_list.style.transform = '';
                    loader.style.transform = '';
                    printer.style.transform = '';

                }, resetInterval * 1000);

            }
        }
    </script>
 
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            let totalAmount = 0;

            // همه top-content ها را پیدا کن
            const items = document.querySelectorAll('.top-content');

            items.forEach(item => {
                const price = parseFloat(item.getAttribute('data-price'));
                const count = parseInt(item.getAttribute('data-count'));

                // محاسبه مجموع برای هر آیتم
                totalAmount += price * count;
            });

            // نمایش مجموع در بخش مربوطه
            document.getElementById('amount').innerText = totalAmount.toLocaleString();
        });
    </script>
   

 
</body>
</html>
